@font-face {
    font-family: buttermilk;
    src: url(./Buttermilk[1].woff);
}
body {
    font-family: sans-serif; /* Add a default font-family */
    margin: 0; /* Reset default margins */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    min-height: 100vh; /* Ensure content fills the viewport height */
    background-color: #f4f4f4; /* Add a light background color */
    color: #333; /* Add a dark text color */
}

h1{
    font-size: 3em; /* Adjust font size for better readability */
    font-family: buttermilk;
    margin-top: 50px; /* Add margin for spacing */
    margin-bottom: 20px;
}

img {
    max-width: 80%; /* Make images responsive */
    height: auto;
    display: block; /* Prevent extra space below the image */
    margin: 20px auto; /* Center the image */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for modern look*/
    border-radius: 5px; /* Add rounded corners */
}